/.vscode
/area.exe
/functions.cpp
/functions.exe
/helloworld.cpp
/helloworld.exe
/homework.cpp
/homework.exe
/ifelse.cpp
/ifelse.exe
/matrix.cpp
/matrix.exe
/number.cpp
/number.exe
/pattern.cpp
/pattern.exe
/power.cpp
/power.exe
/PracticalFile
/prime.cpp
/prime.exe
/recursion.cpp
/recursion.exe
/series.cpp
/series.exe
/switch.cpp
/switch.exe
/tempCodeRunnerFile.cpp